.task1 {
  background-color: green;
}

.task2 {
  background: url(/img/img-400x200.jpg);
}

.task3 {
  background: linear-gradient(to bottom, yellow, red)
}

.task4 {
  background: radial-gradient(closest-side, #3f87a6, #ebf8e1, #f69d3c);
}

.task5 {
  background: conic-gradient(from 3.1416rad at 10% 50%, #e66465, #9198e5);
}

.task6 {
  background-image: url('/img/img-400x200.jpg');
  background-repeat: repeat-x;
}

.task7 {
  background-image: url('/img/img-400x200.jpg');
  background-repeat: repeat-y;
}

.task8 {
  background-image: url('/img/img-400x200.jpg');
  background-repeat: no-repeat;
}

.task9 {
  background-image: url('/img/img-400x200.jpg');
  
  background-repeat: repeat-y;
  background-size: contain;
  width: 400px;
  height: 89%;
}

.task10 {
  background-image: url(/img/img-400x200.jpg), linear-gradient(to bottom, transparent 0, transparent 10px, rgba(0, 0, 0, 0.1) 10px, rgba(0, 0, 0, 0.1) 20px);
  background-size: 50% 50%;
  height: 100%;
}

.task11 {
  background-image: url('/img/img-400x200.jpg');
  background-size: 53% 44%;
  background-attachment: scroll;
}

.task12 {
  background-image: url('/img/img-400x200.jpg');
  background-size:  39% 21%;
  background-attachment: fixed;
}

.task13 {
  background-image: url('/img/img-400x200.jpg');
  background-attachment: local;
}

.task14 {
  background-image: url('/img/img-400x200.jpg');
  background-position: center;
}

.task15 {
  background-image: url('/img/img-400x200.jpg');
  background-position: top;
}

.task16 {
  background-image: url('/img/img-400x200.jpg');
  background-position: bottom;
}

.task17 {
  background-image: url('/img/img-400x200.jpg');
  background-position: left;
}

.task18 {
  background-image: url('/img/img-400x200.jpg');
  background-position: right;
}

.task19 {
  background-image: url('/img/img-400x200.jpg');
  background-position: 100px;
}

.task20 {
  background-image: url('/img/img-400x200.jpg');
  background-size: auto;
}

.task21 {
  background-image: url('/img/img-400x200.jpg');
  background-size: 600px;
}

.task22 {
  background-image: url('/img/img-400x200.jpg');
  background-size: 50%;
}

.task23 {
  background-image: url('/img/img-400x200.jpg');
  background-size: 100%;
}

.task24 {
  background-image: url('/img/img-400x200.jpg');
  background-size: 100% 100%;
}

.task25 {
  border: 20px dashed black;
  background-image: url('/img/img-400x200.jpg');
  box-sizing: border-box;
}

.task26 {
  background-image: url('/img/img-400x200.jpg');
  border: 20px dashed black;
  box-sizing: border-box;
}

.task27 {
  background-image: url('/img/img-400x200.jpg');
  font-size: 120px;
  font-weight: 900;
  color: transparent;
}

.task28 {
  background-image: url('/img/img-400x200.jpg');
  box-sizing: border-box;
  border: 20px dashed black;
  background-repeat: no-repeat;
}

.task29 {
  background-image: url('/img/img-400x200.jpg');
  box-sizing: border-box;
  border: 20px dashed black;
  padding: 20px;
  background-repeat: no-repeat;
}

.task30 {
  background-image: url('/img/img-400x200.jpg');
  box-sizing: border-box;
  border: 20px dashed black;
  background-repeat: no-repeat;
  font-size: 100px;
  font-weight: 900;
  padding: 60px;
}

.task31 {
  border-image-slice: 1%;
  border-image-width: 40px;
  box-sizing: border-box;
}

.task32 {
  border-image-slice: 1%;
  border-image-width: 40px;
  box-sizing: border-box;
}

.task33 {
  border-image-source: url('/img/img-400x200.jpg');
  box-sizing: border-box;
  border-image-width: 40px;
  border-image-slice: 10;
}
